body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img{
    width: 200px;
    height: 80px;
    background-color: aqua;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid black;
    color:lightgrey;
    text-transform: uppercase;
    background-color: rgb(47, 67, 67);
    margin: 0 40px 0 40px;
    padding: 0 20px 0 20px;
}

table {
    border: 1px solid rgb(0, 0, 0);
    width: 350px;
    height: 200px;
    background-color: grey;
}

th,td {
    text-transform: capitalize;
    border: 1px solid black;
}

th {
    padding:0;
    margin:0;
}

td {
    *border: solid 1px black;
    padding: 0 0 0 30px;
    margin: 0;
}

